.color, .position, .cell {
    border-radius: 50%;
}

.score {
    padding: 10px 0 10px 10px;
}

.color, .position {
    margin: 0 5px 5px 0;
}

.row {
    border-bottom: 2px solid;
}

.cells {
    padding: 10px 0 10px 10px;
}

.cell {
    margin-right: 10px;
}
