body {
    background-color: cadetblue;
}

.score .color {
    background-color: black;
}

.score .position {
    background-color: white;
}

.cell[data-color="0"] {
    background: #0000FF;
}

.cell[data-color="1"] {
    background: #2400DA;
}

.cell[data-color="2"] {
    background: #4800B6;
}

.cell[data-color="3"] {
    background: #6D0091;
}

.cell[data-color="4"] {
    background: #91006D;
}

.cell[data-color="5"] {
    background: #B60048;
}

.cell[data-color="6"] {
    background: #DA0024;
}

.cell[data-color="7"] {
    background: #FF0000;
}
